<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Roles</th>
            <th>Delete user</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="u in users | orderBy:'userName'">
            <td>{{u.userName}}</td>
            <td><span ng-repeat="r in u.roles">{{r.role}},</span></td>
            <td><button class="btn btn-link" ng-click="deleteUser(u.userName)">Delete user</button></td>
        </tr>
    </tbody>
</table>

<div class="alert alert-success" ng-show="userdel">
    <b>User '{{userdel}}' deleted.</b>
</div>